[Unit]
Description=eosxd mount for JINR EOS
After=network-online.target,remote-fs.target,multi-user.target
Wants=network-online.target,remote-fs.target,multi-user.target
AssertPathIsDirectory=/eos

[Service]
Type=oneshot
RemainAfterExit=true
Environment=EOS_MGM_URL=root://eos.jinr.ru
ExecStart=/usr/bin/eosxd /eos
ExecStop=/bin/umount -R /eos

[Install]
WantedBy=multi-user.target
