[Unit]
Description = rsync warden server 
After=multi-user.target

[Service]
Type=simple
User=treskov
WorkingDirectory=/home/treskov/rsync_warden
ExecStart=/usr/local/bin/uvicorn server:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
TimeoutStartSec=3
RestartSec=10

[Install]
WantedBy=multi-user.target

